.Calculator {
    display: grid;
    grid-template-columns: repeat(7, 100px);
}

button {
    margin: 2px 2px;
    text-align: center;
    border: none;
    height: 30px;
    border-radius: 4px;
}

.operation {
    background-color: lightgray;
}

#equal {
    background-color: blue;
    color: white;
}

#result {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80;
    width: 700px;
    text-align: right;
}

#pre-result {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80;
    width: 700px;
    text-align: right;
    color: gray;
}
